[[source]]
name = "pypi"
url = "$PYPI_URL"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-runner = "*"

[packages]
click = "*"
aita-updater = {editable = true, path = "."}
praw = "*"
python-decouple = "*"
pandas = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
aita-models = {git = "https://github.com/mewstopher/aita_models"}

[requires]
python_version = "3.8"
