[[source]]
name = "pypi"
url = "$PYPI_URL"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-runner = "*"

[packages]
click = "*"
aita-updater = {editable = true, path = "."}
praw = "*"
python-decouple = "*"
pandas = "*"
sqlalchemy = "*"
aita-models = {path = "./../aita_models/dist/aita_models-0.1.0-py3-none-any.whl"}
psycopg2-binary = "*"

[requires]
python_version = "3.8"
